body {
    background-color: #000000;
    margin: 200px 100px 100px 350px;
}

main {
    padding: 30px 20px;
}

.texto-principal {

    text-align: left;
    position: relative;
    padding: 40px 0;
    display: inline;
}

.texto-principal h1 {
    font-size: 30px;
    color: #78A1BB;
}

.texto-principal strong {
    color: #EBF5EE;
    border: 1px solid #EBF5EE;
}

.texto-principal p {
    font-size: 20px;
    color: #F6F6F6;
}

.foto-perfil {
    float: right;
    width: 30%;
}

footer a {
    text-align: center;
    background-color: #22D4FD;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 16px;
    margin: 16px;
    border-radius: 10px;
}